{{yield}}

<h2>{{t 'HOME.TRIPS'}}</h2>
{{#paper-list}}
    {{#each trips as |trip|}}
        {{#paper-item onClick=(action "loadTrip" trip) class="md-3-line"}}
            {{trip.name}}
        {{/paper-item}}
    {{else}}
        {{#paper-item class="md-3-line"}}
            No trips found
        {{/paper-item}}
    {{/each}}
{{/paper-list}}

{{#paper-button raised=true onClick=(action 'browseForTrips')}}
    {{#file-picker fileLoaded="fileLoaded" accept=".json" readAs="readAsText"}}
        Browse
    {{/file-picker}}
{{/paper-button}}
