.loading-container {
  position: fixed;;
  width: 40vw;
  height: 88vh;
}


.preloader {
  position: absolute;
  margin: -9vw 0 0 -9vw;
  display: block;
  position: relative;
  width: 18vw;
  height: 18vw;
  border: 1vw solid #62c50f;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  animation-delay:0.2s
}

.preloader:before {
  content: "";
  display: block;
  position: absolute;
  width: 58px;
  height: 58px;
  border: 3px solid #3bb4e5;
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -32px;
  border-radius: 50%;
  animation-delay:0.45s
}

.preloader:after {
  content: "";
  display: block;
  position: absolute;
  border: 3px solid #ccdc25;
  width: 26px;
  height: 26px;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  border-radius: 50%;
  animation-delay:0.64s
}

.preloader,
.preloader:before,
.preloader:after {
  animation-name: Scale;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  -webkit-animation-name: Scale;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

.preloader:before {
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
}


.loading-container.fade-out .preloader, .loading-container.fade-out .preloader:before, .loading-container.fade-out .preloader:after {
  -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
  animation-play-state: paused;
}

@keyframes Scale {
  25% {
    transform: scale(-1.2, 1.2)
  }
  50% {
    transform: scale(-1, -1)
  }
  75% {
    transform: scale(1.2, -1.2)
  }
  100% {transform: scale(1, 1)}
}

@-webkit-keyframes Scale {
  25% {
    -webkit-transform: scale(-1.2, 1.2)
  }
  50% {
    -webkit-transform: scale(-1, -1)
  }
  75% {
    -webkit-transform: scale(1.2, -1.2)
  }
}
