/*$primary: "teal";*/
$accent: "green";
$warn: "amber";


@import 'ember-paper';


@import "ember-paper-tabs";



@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(MaterialIcons-Regular.woff2) format('woff2'),
       url(MaterialIcons-Regular.woff) format('woff'),
       url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


md-toolbar span {
  font-size: 28px !important;
}

.md-dark-grey-theme {
  color: white;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:28px;
    height:100vh;
    margin:0px;
    padding:0px;
    width:100vw;
    overflow: hidden;
}


body > div > view {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

header.fixed {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

main.fixed {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    left:0;
    top:0;
    height:100%;                   /* text area height */
    width:100%;                   /* text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}




@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


body {
    -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  font-size: 20px;
  outline:none !important;
}

input {
    outline:none !important;
}

.pull-right {
  float: right;
}

md-bottom-sheet {
  background-color: rgb(63,81,181);
  padding: 0px 4px 80px;
}

footer > md-toolbar {
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

md-radio-button > .md-label {
  top: 7px;
}

md-dialog.md-dialog-fullscreen {
    max-width: 98% !important;
    width: 100% !important;
}

md-dialog md-tabs {
  min-height: 70vh !important;
}

.md-dialog-container {
  z-index: 2000;
}

.md-open-menu-container {
  z-index: 9999;
}

.rotate {
  -webkit-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
}

.md-toolbar-tools {
  line-height: 22px;
}

.connection-status {
  border-radius: 100%;
  border-radius: 100%;
  min-width: 15px;
  min-height: 15px;
  display: inline-block;
/*  position: absolute;
  margin-left: 7.5px;
  margin-top: 7.5px !important;*/
  background-color: red;
}

.connection-status.connected {
  background-color: limegreen;
}

.connection-status.connected.off {
  background-color: yellow;
}

.playback-view {
  display: inline-flex;
}
.playback-button {
  max-width: 20px;
}
.playback-view .date {
  margin-left: 25%;
  margin-right: 25%;
}
.playback-view md-slider {
  height: 30px;
}

md-menu-content.md-dark-grey-theme {
    background-color: rgb(66, 66, 66);
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; display:none; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; display: none;} }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; display: none;} }

.fade-in {
  opacity: 0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
}
.fade-out {
  opacity: 1;
  -webkit-animation:fadeOut ease-in 1;
  -moz-animation:fadeOut ease-in 1;
  animation:fadeOut ease-in 1;
}

.fade-in, .fade-out {
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-long {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

.fade-super-long {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}


@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

@-webkit-keyframes rotate {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(-360deg);}
}


.title-odo {
  font-style: italic;
}

h2 > big {
  font-size: 2em;
  padding-top: 0.1em;
}
md-card-content > h2 {
  padding: 0;
  -webkit-margin-before: 0.4em;
  -webkit-margin-after: 0.15em;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

md-card-footer {
  padding-right: 0 !important;
}

md-card-content {
  padding: 12px !important;
  padding-right: 0px !important;
}

small.title {
  display: inline-flex;
  margin-top: -10px;
  margin-right: 10px;
}

/*md-menu {
  padding: 0 !important;
}*/

.happy-widget .data {
  display: flex;
  flex-direction: column;
  top: 10px;
  left: 5px;
  width: calc(100% - 5px);
  height: calc(100% - 10px);
  padding-left: 10px;
  padding-top: 15px;
}

.happy-widget {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.happy-widget .time-chart, .cell-chart {
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: 100%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: -1.5%;
}

.widget-options {
    position: absolute;
    right: 5px;
    z-index: 40;
    cursor: pointer;
}

.widget-options .ember-basic-dropdown-trigger {
  padding: 20px;
  margin-right: -20px;
  margin-top: -20px;
}

.data-display .title {
  margin-top: 0.4em;
  font-size: 0.6em;
  height: 1.2em;
}

.data-display h3 {
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  margin-bottom: 2px;
  -webkit-margin-before: 0.5em;
}

.grid-footer {
  margin-left: -5%;
  margin-bottom: 0;
  margin-top: auto;
}

.grid-stack > .grid-stack-item > .ui-resizable-se {
  padding: 20px;
  margin: -10px;
  right: -10px;
  bottom: -15px;
}

.temp-offset {
  float: right;
  margin-right: calc(7% + 15px);
  margin-left: auto;
  transition: opacity 8s ease;
  line-height: 5px;
}

.new-button md-icon {
    margin-top: -10px;
    margin-left: -10px;
}

.log {
  white-space: pre-line;
  word-break: break-all;
  pointer-events: all;
  font-size: 16px;
}

#log-icon {
  float: right;
  position: absolute;
  pointer-events: all;
  margin-top: -10px;
}

.widget-icon-right {
  margin-top: -10px;
  margin-left: -10px;
  position: absolute;
}

.sub-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.more-button {
  position: absolute;
  z-index: 5;
  padding: 30px !important;
}

.more-button.right {
  right: 2vw;
}

.left-button {
  position: absolute;
  z-index: 200;
  left: 28px;
  padding: 10px !important;
}

.left-button .more-button {
  position: absolute;
  z-index: 1000;
}

.more-button.up {
  margin-top: -15px;
}

.more-icon {
  margin-top: -40%;
  margin-left: -40%;
}

.cell-info {
  margin-top: -12px;
  float: left;
}
.temp-info {
  margin-top: -12px;
  padding-right: 20px;
  float: right;
}

small.tiny {
  float: right;
  margin-top: -13px;
  font-weight: bolder;
  transition: opacity 8s ease;
  position: absolute;
  right: 4.5vw;
}

.clear {
  opacity: 0.3;
}

.highlight {
  opacity: 1;
  transition: opacity 0s !important;
}

.green {
  color: green;
}

.red {
  color: red;
}

md-badge{
  margin: 0 -12px 0 8px;
  background-color: #02a72e;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
}

.unread-icon {
  width: 15px;
  height: 15px;
  background-color: #02a72e;
  border-radius: 50%;
  margin: 15px;
}

.notifications-btn {
  min-width: 55px;
}

.two-line {
  height: auto;
}
.two-line p {
  line-height: 15px;
}

.notification-icon {
  z-index: -1;
}


.log-container {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 55px);
  overflow-y: scroll;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-overflow-scrolling: touch;
}

.content {
  margin-top: 0px;
  padding-top: 10px;
  width: 100vw;
  height: calc(100vh - 75px);
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  background-image:linear-gradient(top, #E4E4E4 0%, #ffffff 51%);
  background-image:-webkit-linear-gradient(top, #E4E4E4 0%, #ffffff 51%);
  background-image:-ms-linear-gradient(top, #E4E4E4 0%, #ffffff 51%);
  background-image:-webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #E4E4E4),
      color-stop(0.51, #ffffff)
  );
  background-attachment:fixed;
}

main.dark .content {
  color: white;
  background-image:linear-gradient(top, #2a3261 0%, #000000 51%);
  background-image:-webkit-linear-gradient(top, #2a3261 0%, #000000 51%);
  background-image:-ms-linear-gradient(top, #2a3261 0%, #000000 51%);
  background-image:-webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #2a3261),
      color-stop(0.51, #000000)
  );
  background-attachment:fixed;
}

.soc-container {
  position: absolute;
  pointer-events: none;
}

.info-box small{
    text-overflow: ellipsis;
}
.info-box h3 {
  padding: 3px;
  margin: 0px;
  text-overflow: ellipsis;
}

.last-update {
  float: left;
  padding: 10px;
  margin-top: -35px;
}

h3.small {
  font-size: 0.8em;
}

notification-view {
  margin-right: -15px;
}

#large-chart-container {
  width: 100% !important;
  height: 200px !important;
  min-width: 55vw;
}

#LEAF, .leaf-loading, .loading-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;

  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  margin-top: 0;
  margin-bottom: auto;
}



.LEAF-Text {
  opacity: 0;
}

.loading-container {
  position: absolute;
  top: 45px;
}

main.dark #LEAF text {
  fill: white;
}
#LEAF text {
  font-family: '-apple-system','HelveticaNeue';
}

.dark-button {
  width: 80px;
  height: 80px;
}

#Motor_x5F_Speed {
  fill: black !important;
}

#Charger_x5F_Flow {
  opacity: 0.4;
  stroke-dasharray: 4;
  stroke-dashoffset: 200;
  animation-fill-mode: forwards;
}

#Charging_x5F_Plug {
  opacity: 0.4;
  stroke-dasharray: 4;
  stroke-dashoffset: 200;
}

#Charging_x5F_Container {
  opacity: 0;
}

#Headlights {
  opacity: 0;
  transition: opacity 2s ease;
}

#Foglights {
  opacity: 0;
  transition: opacity 2s ease;
}

#R_x5F_Blinker, #L_x5F_Blinker {
  animation:fade 500ms infinite;
  -webkit-animation:fade 500ms infinite;
  display: none;
}

#LEAFOUTTER {
  height: 100%;
}

#LEAFOUTTER.blinker-right #R_x5F_Blinker {
  display: inherit;
}

#LEAFOUTTER.blinker-left #L_x5F_Blinker {
  display: inherit;
}

#LEAFOUTTER.headlights #Headlights {
  opacity: 1;
}

#LEAFOUTTER.foglights #Foglights {
  opacity: 1;
}

#LEAFOUTTER.charging #Charger_x5F_Flow, #LEAFOUTTER.charging #Charging_x5F_Plug {
  opacity: 1;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

#LEAFOUTTER.charging #Charger_x5F_Flow lineargradient stop {
  stop-color: #62C50F !important;
}

#LEAFOUTTER.charging #Battery_x5F_Outline, #LEAFOUTTER.charging #Charging_x5F_Plug > path, #LEAFOUTTER.charging #Charger_x5F_Flow > path {
  stroke: #62C50F;
  opacity: 1;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

#LEAFOUTTER.charging:not(.regening) #Charging_x5F_Container {
  opacity: 1;
}

#LEAFOUTTER.charging.fast:not(.regening) #Battery_x5F_Outline, #LEAFOUTTER.charging.fast #Charger_x5F_Flow {
  animation: dash 6s 0s linear infinite;
  -webkit-animation: dash 6s 0s linear infinite;
}
#LEAFOUTTER.charging.fast #Charging_x5F_Plug {
  animation: dash 6s 0s linear reverse infinite;
  -webkit-animation: dash 6s 0s linear reverse infinite;
  animation-fill-mode: backwards;
}

#LEAFOUTTER.charging.medium:not(.regening) #Battery_x5F_Outline, #LEAFOUTTER.charging.medium #Charger_x5F_Flow {
  animation: dash 12s 0s linear infinite;
  -webkit-animation: dash 12s 0s linear infinite;
}
#LEAFOUTTER.charging.medium #Charging_x5F_Plug {
  animation: dash 12s 0s linear reverse infinite;
  -webkit-animation: dash 12s 0s linear reverse infinite;
  animation-fill-mode: backwards;
}

#LEAFOUTTER.charging.slow:not(.regening) #Battery_x5F_Outline, #LEAFOUTTER.charging.slow #Charger_x5F_Flow {
  animation: dash 26s 0s linear infinite;
  -webkit-animation: dash 26s 0s linear infinite;
}

#LEAFOUTTER.charging.slow #Charging_x5F_Plug {
  animation: dash 26s 0s linear reverse infinite;
  -webkit-animation: dash 26s 0s linear reverse infinite;
  animation-fill-mode: backwards;
}

#Battery_x5F_Outline {
  opacity: 0.4;
  stroke-dasharray: 4;
  stroke-dashoffset: 200;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  transform-origin: 50%;
  transform: rotate(-90deg);
  z-index: 1000;
}

#R_x5F_Flow > path {
  opacity: 0.4;
  stroke-dasharray: 4;
  stroke-dashoffset: 200;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

#M_x5F_Flow > path, #L_x5F_Flow > path, #M_x5F_Flow_2_ > path, #M_x5F_Flow_1_ > path {
  opacity: 0.4;
  stroke-dasharray: 4;
  stroke-dashoffset: 200;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

#ACC_x5F_Flow > path {
  opacity: 0.4;
  stroke-dasharray: 4;
  stroke-dashoffset: 200;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

#LEAFOUTTER.climate-usage #M_x5F_Flow_2_ lineargradient stop, #LEAFOUTTER.climate-usage #M_x5F_Flow_2_ > path, #LEAFOUTTER.acc-usage #ACC_x5F_Flow > path {
  stop-color: #ff993e !important;
  stroke: #ff993e;
}

#Charger_x5F_Flow lineargradient stop:first-child, #M_x5F_Flow_2_ lineargradient stop:first-child, #M_x5F_Flow_1_ lineargradient stop:first-child {
  stop-opacity: 0;
}


#LEAFOUTTER.climate-usage #M_x5F_Flow_2_ > path, #LEAFOUTTER.climate-usage #M_x5F_Flow_2_ > path {
  opacity: 1;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation: dash 10s 0s linear reverse infinite;
  -webkit-animation: dash 10s 0s linear reverse infinite;
}

#LEAFOUTTER.acc-usage #ACC_x5F_Flow > path {
  opacity: 1;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation: dash 30s 0s linear reverse infinite;
  -webkit-animation: dash 30s 0s linear reverse infinite;
}

#LEAFOUTTER.acc-usage:not(.regening):not(.motor-usage) #Battery_x5F_Outline {
  stroke: #ff993e;
  opacity: 1;
  animation-fill-mode: reverse;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation: dash 30s 0s linear infinite;
  -webkit-animation: dash 30s 0s linear infinite;
  -webkit-animation-direction: forwards; /* Safari 4.0 - 8.0 */
  animation-direction: forwards;
}

#LEAFOUTTER.climate-usage:not(.regening):not(.motor-usage) #Battery_x5F_Outline {
  stroke: #ff993e;
  opacity: 1;
  animation-fill-mode: reverse;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation: dash 10s 0s linear infinite;
  -webkit-animation: dash 10s 0s linear infinite;
  -webkit-animation-direction: forwards; /* Safari 4.0 - 8.0 */
  animation-direction: forwards;
}



#LEAFOUTTER.motor-usage #M_x5F_Flow > path, #LEAFOUTTER.motor-usage #R_x5F_Flow > path, #LEAFOUTTER.motor-usage #L_x5F_Flow > path, #LEAFOUTTER.motor-usage #M_x5F_Flow_1_ > path {
  opacity: 1;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation: dash 15s 0s linear reverse infinite;
  -webkit-animation: dash 15s 0s linear reverse infinite;
  animation-fill-mode: backwards;
}

#LEAFOUTTER.motor-usage #R_x5F_Flow > path, #LEAFOUTTER.motor-usage #L_x5F_Flow > path, #LEAFOUTTER.motor-usage #M_x5F_Flow > path, #LEAFOUTTER.motor-usage #M_x5F_Flow_1_ > path {
  stroke: #ff993e !important;
}

#LEAFOUTTER.motor-usage #M_x5F_Flow lineargradient stop, #LEAFOUTTER.motor-usage #M_x5F_Flow_1_ lineargradient stop {
  stop-color: #ff993e !important;
}

#LEAFOUTTER.motor-usage:not(.regening) #Battery_x5F_Outline {
  stroke: #ff993e;
  opacity: 1;
  animation-fill-mode: reverse;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation: dash 15s 0s linear infinite;
  -webkit-animation: dash 15s 0s linear infinite;
  -webkit-animation-direction: forwards; /* Safari 4.0 - 8.0 */
  animation-direction: forwards;
}



#LEAFOUTTER.regening #M_x5F_Flow > path, #LEAFOUTTER.regening #R_x5F_Flow > path, #LEAFOUTTER.regening #L_x5F_Flow > path, #LEAFOUTTER.regening #M_x5F_Flow_1_ > path {
  opacity: 1;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation: dash 15s 0s linear forwards infinite;
  -webkit-animation: dash 15s 0s linear forwards infinite;
  animation-fill-mode: forwards;
}

#LEAFOUTTER.regening #R_x5F_Flow > path, #LEAFOUTTER.regening #L_x5F_Flow > path, #LEAFOUTTER.regening #M_x5F_Flow_1_ > path, #LEAFOUTTER.regening #M_x5F_Flow > path {
  stroke: #62C50F !important;
}

#LEAFOUTTER.regening #M_x5F_Flow lineargradient stop, #LEAFOUTTER.regening #M_x5F_Flow_1_ lineargradient stop {
  stop-color: #62C50F !important;
}

#LEAFOUTTER.regening #Battery_x5F_Outline {
  stroke: #62C50F;
  opacity: 1;
  animation-fill-mode: backwards !important;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation: dash 15s 0s linear reverse infinite !important;
  -webkit-animation: dash 15s 0s linear reverse infinite !important

}

/*#LEAF path, #LEAF circle { //Too laggy
  transition: opacity 1s ease, stroke 1s ease;
}*/

#LEAFOUTTER #Belts {
  fill: #ff0303;
  opacity: 1;
  transition: fill 2s ease;
  animation:fade 2000ms infinite;
  -webkit-animation:fade 2000ms infinite;
}

#LEAFOUTTER.buckled #Belts {
  fill: #62C50F;
  opacity: 0.5;
  animation: none;
  -webkit-animation: none;
}

#LEAFOUTTER #P_x5F_Brake {
  opacity: 0.1;
}

#LEAFOUTTER.parked #P_x5F_Brake {
  opacity: 1;
}

#Tires > text {
    font-size: 13px;
    text-align: center;
    text-anchor: middle;
}

#Charging_x5F_Container > text {
  font-size: 12px;
  text-align: right;
}

#SOC {
  width: 100%;
}

.SOC-Text, .Temp-Text, .Volt-Text, .SOC-Text-Label {
  position: absolute;
  text-align: center;
  font-size: 185%;
  font-weight: bold;
  z-index: 3;
  word-break: break-word;
}
.Temp-Text {
  font-weight: lighter;
  opacity: 0.6;
}

.Volt-Text, .SOC-Text-Label {
  opacity: 0.8;
  font-weight: normal;;
}

.main-top-stats, .other-bottom-stats {
  opacity: 0;
}

.Motor-Text, .Climate-Text {
  position: absolute;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
}

.Motor-Text > small, .Climate-Text > small {
  opacity: 0.5;
  font-size: 1.2vw;
}

.kwh-remaining {
  margin: 0;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

h2.sm > small {
  font-size: 0.3em;
}

h2 {
  font-size: 2em;
 small {
   font-size: 0.4em;
 }
}

h2.tl {
  font-size: 4em;
}

h2.lg.tl {
  font-size: 5em;
}

h2.sm, h2.xs {
  font-size: 2em;
  line-height: 1em;
  padding-top: 10%;
  small {
    font-size: 0.4em;
  }
}
h2.sm.tl {
  font-size: 3em;
}
h2.xs {
  line-height: 0.5em;
}

h2.kwh-remaining:not(.xs) > small {
  position: absolute;
  padding-top: 0.5em;
}
h2 > span {
  font-size: 0.3em;
}


.extras-container {
  position: absolute;
}

#time-chart {
  padding-top: 15px;
  margin-right: 3px;
}

.array-chart {
  height: 100%;
  margin-right: 3px;
}

.main-top-row {
  padding-top: 1vh;
}

@keyframes dash {
  from {
     stroke-dashoffset : 200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash {
  from {
     stroke-dashoffset : 200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

md-toolbar.iPhone, md-toolbar.iPad {
  padding-top: 8px;
}
div.md-dialog-container {
  top: 10px;
}

md-toolbar.fullscreen {
  min-height: 25px;
  height: 25px;
}

@media screen and (orientation:portrait) {
  #LEAF, .leaf-loading, .loading-container {
    width: 100vw;
    max-height: 50vh;
  }
  .main-top-row {
    flex-direction: column;
    padding-bottom: 40px;
  }
  .main-top-stats {
    margin-top: -35px;
    z-index: 2;
  }
  md-card h2 {
    font-size: 3vw;
  }
  md-card h2 big {
    font-size: 10vw;
  }
  .md-toolbar-tools small {
    font-size: 1.4vh !important;
  }

  .md-toolbar-tools span {
    font-size: 3vh !important;
  }

  .Happy-Leaf{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    border-style:none;
   outline-style:none;
   -webkit-appearance: textarea;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  md-card b {
    font-size: 2.5vh;
  }
  .SOC-Text-Label {
    font-size: 1.6vh;
  }
  .Temp-Text {
    font-size: 2vh;
  }
  .Volt-Text {
    font-size: 2.6vh;
  }
  .Motor-Text, .Climate-Text {
    font-size: 1.5vh;
  }
  .Motor-Text > small, .Climate-Text > small {
    font-size: 1.2vh;
  }

}

@media screen and (orientation:landscape) {
  md-card h2 {
    font-size: 2vw;
  }

  md-card h2 big {
    font-size: 6.6vw;
  }
  .md-toolbar-tools small {
    font-size: 0.7em !important;
  }

  .md-toolbar-tools span {
    font-size: 3vw !important;
  }
  md-card b {
    font-size: 2.8vw;
  }

  .loading-container {
    margin-right: 5px;
  }

 
  .SOC-Text-Label {
    font-size: 1.6vw;
  }
  .Temp-Text {
    font-size: 2vw;
  }
  .Volt-Text {
    font-size: 2.6vw;
  }

  .data-column {
    max-width: 60vw;
  }

  /*.content {
    margin-top: 15px;
    padding-top: 40px;
  }*/

  .status {
  	font-size: 2vw !important;
  }

}

@media (max-width: 520px), (max-height: 520px) {
  .status {
    font-size: 20px !important;
  }

  md-card h2 big {
    font-size: 7.2vw;
  }

  .more-button {
    right: 0;
  }

  md-card b {
    font-size: 16px;
  }

  small, md-card span {
    font-size: 12px;
  }

  md-card-footer {
    padding-top: 0px !important;
    padding-bottom: 5px !important;
    padding-left: 5px !important;
  }
  md-card-content {
    padding-bottom: 5px !important;
  }
  .md-toolbar-tools {
    line-height: 15px;
  }

}

@media (max-width: 350px) {
  .outside-temp {
    display: none;
  }
  .md-toolbar-tools small {
    font-size: 0.5em !important;
  }
}

@media (min-height: 520px) {
  /*.content {
    margin-top: 10px;
    padding-top: 50px;
  }*/
}

@media (min-width: 1025px) {
  .md-toolbar-tools span {
    font-size: 0.6em !important;
  }
  /*.content {
    margin-top: 10px;
    padding-top: 80px;
  }*/
}


.device-ready {
	border-radius: 100%;
	background-color: #76FF03;
	width: 15px;
	height: 15px;
	margin-left: 15px;
}

md-radio-button {
	min-height: 10vh;
	padding: 2%;
}

md-radio-button > .md-container {
  margin-left: 11px;
  margin-top: 0.2em;
}



.device-list {
	 max-height: calc(100vh - 96px);
	 overflow-y: scroll;
	 min-height: 50vh;
	 max-width: 100vw;
}

.scan-btn {
  min-width: 40px;
}

.continue-btn {
	min-width: 40px;
	padding-top: 10px !important;
}

.refresh-icon {
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
}

.continue-icon {
  width: 40px;
  height: 40px;
  top:5px;
  left: 0;
}
.grid-stack {
  padding-bottom: 10px;
}
/*
.grid-stack > .grid-stack-item[data-gs-width="10"]  { width: 100% }
.grid-stack > .grid-stack-item[data-gs-width="9"]  { width: 90% }
.grid-stack > .grid-stack-item[data-gs-width="8"]  { width: 80% }
.grid-stack > .grid-stack-item[data-gs-width="7"]  { width: 70% }
.grid-stack > .grid-stack-item[data-gs-width="6"]  { width: 60% }
.grid-stack > .grid-stack-item[data-gs-width="5"]  { width: 50% }
.grid-stack > .grid-stack-item[data-gs-width="4"]  { width: 40% }
.grid-stack > .grid-stack-item[data-gs-width="3"]  { width: 30% }
.grid-stack > .grid-stack-item[data-gs-width="2"]  { width: 20% }
.grid-stack > .grid-stack-item[data-gs-width="1"]  { width: 10% }

.grid-stack > .grid-stack-item[data-gs-x='9'] { left: 90%}
.grid-stack > .grid-stack-item[data-gs-x='8'] { left: 80%}
.grid-stack > .grid-stack-item[data-gs-x='7'] { left: 70%}
.grid-stack > .grid-stack-item[data-gs-x='6'] { left: 60%}
.grid-stack > .grid-stack-item[data-gs-x='5'] { left: 50%}
.grid-stack > .grid-stack-item[data-gs-x='4'] { left: 40%}
.grid-stack > .grid-stack-item[data-gs-x='3'] { left: 30%}
.grid-stack > .grid-stack-item[data-gs-x='2'] { left: 20%}
.grid-stack > .grid-stack-item[data-gs-x='1'] { left: 10%}
.grid-stack > .grid-stack-item[data-gs-x='0'] { left: 0%}
*/

@media screen and (min-width: 768px) {
  .grid-stack > .grid-stack-item {

    $gridstack-columns: 10;

    @for $i from 1 through $gridstack-columns {
        &[data-gs-width='#{$i}'] { width: (100% / $gridstack-columns) * $i; }
        &[data-gs-x='#{$i}'] { left: (100% / $gridstack-columns) * $i; }
        &.grid-stack-item[data-gs-min-width='#{$i}'] { min-width: (100% / $gridstack-columns) * $i; }
        &.grid-stack-item[data-gs-max-width='#{$i}'] { max-width: (100% / $gridstack-columns) * $i; }
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 460px) {
  .grid-stack > .grid-stack-item {

    $gridstack-columns: 6;

    @for $i from 1 through $gridstack-columns {
        &[data-gs-width='#{$i}'] { width: (100% / $gridstack-columns) * $i; }
        &[data-gs-x='#{$i}'] { left: (100% / $gridstack-columns) * $i; }
        &.grid-stack-item[data-gs-min-width='#{$i}'] { min-width: (100% / $gridstack-columns) * $i; }
        &.grid-stack-item[data-gs-max-width='#{$i}'] { max-width: (100% / $gridstack-columns) * $i; }
    }
  }
}

@media screen and (max-width: 460px) {
  .grid-stack > .grid-stack-item {

    $gridstack-columns: 3;

    @for $i from 1 through $gridstack-columns {
        &[data-gs-width='#{$i}'] { width: (100% / $gridstack-columns) * $i; }
        &[data-gs-x='#{$i}'] { left: (100% / $gridstack-columns) * $i; }
        &.grid-stack-item[data-gs-min-width='#{$i}'] { min-width: (100% / $gridstack-columns) * $i; }
        &.grid-stack-item[data-gs-max-width='#{$i}'] { max-width: (100% / $gridstack-columns) * $i; }
    }
  }
}

.content.editing::before {
  content: '\f07d';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: -10px 0px 0px 0px;
  text-decoration:none;
  background-color: rgba(0,0,0, 0.3);
  color: white;
  width: 8px;
  height: 100vh;
  position: fixed;
  pointer-events: all;
  z-index: 10;
  padding: 15px;
  padding-top: calc(50vh - 1em);
}

.new-widget {
    padding-left: calc(50% - 25px);
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
  overflow: initial;
}
.grid-stack > .grid-stack-item > .ui-resizable-se {
  z-index: 9 !important;
}

.grid-stack-static {
  pointer-events: none;
}