.device-ready {
	border-radius: 100%;
	background-color: #76FF03;
	width: 15px;
	height: 15px;
	margin-left: 15px;
}

md-radio-button {
	min-height: 10vh;
	padding-top: 2%;
}

md-radio-button > .device-name {

}
.device-list {
	 max-height: calc(100vh - 130px);
	 overflow: scroll;
}

.scan-btn {
  min-width: 40px;
}

.continue-btn {
	min-width: 40px;
	padding-top: 10px !important;
}

.refresh-icon {
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
}

.continue-icon {
  width: 40px;
  height: 40px;
  top:5px;
  left: 0;
}
