.title-odo {
  font-style: italic;
}

h2 > big {
  font-size: 2em;
}
md-card-content > h2 {
  padding: 0;
  -webkit-margin-before: 0.4em;
  -webkit-margin-after: 0.15em;
}

md-menu {
  padding: 0 !important;
}

.log {
  white-space: pre-line;
  font-size: 16px;
}

.log-icon {
  float: right;
  margin-top: 3%;
}


.sub-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.more-button {
  position: absolute;
  right: 2vw;
}

.more-button.up {
  margin-top: -15px;
}

.more-icon {
  margin-top: -40%;
  margin-left: -40%;
}

small.tiny {
  float: right;
  margin-top: -10px;
  font-weight: bolder;
  transition: opacity 8s ease;
}

.clear {
  opacity: 0.3;
}

.highlight {
  opacity: 1;
  transition: opacity 0s !important;
}

.green {
  color: green;
}

.red {
  color: red;
}

.log-container {
  position: absolute;
  width: calc(100vw - 25px);
  padding: 10px;
  margin-top: 50vh;
  height: 100vh;
  max-height: calc(100vh - 55px);
  overflow: scroll;
}

.content {
  margin-top: 70px;
  width: 100vw;
}

.soc-container {
  position: absolute;
  pointer-events: none;
}

.info-box small{
    text-overflow: ellipsis;
}
.info-box h3 {
  padding: 3px;
  margin: 0px;
  text-overflow: ellipsis;
}

#large-chart-container {
  width: 100% !important;
  height: 200px !important;
  min-width: 55vw;
}

#LEAF {
  width: 40vw;
  height: 88vh;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}

@media (max-width: 620px) {
  #LEAF {
    width: 100vw;
    max-height: 50vh;
  }
  .main-top-row {
    flex-direction: column;
    padding-bottom: 40px;
  }
  .main-top-stats {
    margin-top: -35px;
    z-index: 2;
  }
}

#Charger_x5F_Flow, #Charging_x5F_Plug {
  opacity: 0.4;
  stroke-dasharray: 4;
  stroke-dashoffset: 200;
  animation-fill-mode: forwards;
}

#Charging_x5F_Container {
  opacity: 0;
}

#Headlights {
  opacity: 0;
  transition: opacity 2s ease;
}

#R_x5F_Blinker, #L_x5F_Blinker {
  animation:fade 500ms infinite;
  -webkit-animation:fade 500ms infinite;
  display: none;
}

#LEAFOUTTER.blinker-right #R_x5F_Blinker {
  display: inherit;
}

#LEAFOUTTER.blinker-left #L_x5F_Blinker {
  display: inherit;
}

#LEAFOUTTER.headlights #Headlights {
  opacity: 1;
}

#LEAFOUTTER.charging #Charger_x5F_Flow, #LEAFOUTTER.charging #Charging_x5F_Plug {
  opacity: 1;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

#LEAFOUTTER.charging #Charger_x5F_Flow lineargradient stop {
  stop-color: #62C50F !important;
}

#LEAFOUTTER.charging #Battery_x5F_Outline, #LEAFOUTTER.charging #Charging_x5F_Plug > path, #LEAFOUTTER.charging #Charger_x5F_Flow > path {
  stroke: #62C50F;
  opacity: 1;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

#LEAFOUTTER.charging:not(.regening) #Charging_x5F_Container {
  opacity: 1;
}

#LEAFOUTTER.charging.fast:not(.regening) #Battery_x5F_Outline, #LEAFOUTTER.charging.fast #Charger_x5F_Flow, #LEAFOUTTER.charging.fast #Charging_x5F_Plug {
  animation: dash 6s 0s linear infinite;
  -webkit-animation: dash 6s 0s linear infinite;
}

#LEAFOUTTER.charging.medium:not(.regening) #Battery_x5F_Outline, #LEAFOUTTER.charging.medium #Charger_x5F_Flow, #LEAFOUTTER.charging.medium #Charging_x5F_Plug {
  animation: dash 12s 0s linear infinite;
  -webkit-animation: dash 12s 0s linear infinite;
}

#LEAFOUTTER.charging.slow:not(.regening) #Battery_x5F_Outline, #LEAFOUTTER.charging.slow #Charger_x5F_Flow, #LEAFOUTTER.charging.slow #Charging_x5F_Plug {
  animation: dash 26s 0s linear infinite;
  -webkit-animation: dash 26s 0s linear infinite;
}

#Battery_x5F_Outline {
  opacity: 0.4;
  stroke-dasharray: 4;
  stroke-dashoffset: 200;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  transform-origin: 50%;
  transform: rotate(-90deg);
  z-index: 1000;
}

#R_x5F_Flow > path {
  opacity: 0.4;
  stroke-dasharray: 4;
  stroke-dashoffset: 200;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

#M_x5F_Flow > path, #L_x5F_Flow > path, #M_x5F_Flow_2_ > path, #M_x5F_Flow_1_ > path {
  opacity: 0.4;
  stroke-dasharray: 4;
  stroke-dashoffset: 200;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

#LEAFOUTTER.climate-usage #M_x5F_Flow_2_ lineargradient stop, #LEAFOUTTER.climate-usage #M_x5F_Flow_2_ > path {
  stop-color: #ff993e !important;
  stroke: #ff993e;
}

#Charger_x5F_Flow lineargradient stop:first-child, #M_x5F_Flow_2_ lineargradient stop:first-child, #M_x5F_Flow_1_ lineargradient stop:first-child {
  stop-opacity: 0;
}


#LEAFOUTTER.climate-usage #M_x5F_Flow_2_ > path, #LEAFOUTTER.climate-usage #M_x5F_Flow_2_ > path {
  opacity: 1;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation: dash 10s 0s linear reverse infinite;
  -webkit-animation: dash 10s 0s linear reverse infinite;
}

#LEAFOUTTER.climate-usage:not(.regening) #Battery_x5F_Outline {
  stroke: #ff993e;
  opacity: 1;
  animation-fill-mode: reverse;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation: dash 10s 0s linear infinite;
  -webkit-animation: dash 10s 0s linear infinite;
  -webkit-animation-direction: forwards; /* Safari 4.0 - 8.0 */
  animation-direction: forwards;
}

#LEAFOUTTER.motor-usage #M_x5F_Flow > path, #LEAFOUTTER.motor-usage #R_x5F_Flow > path, #LEAFOUTTER.motor-usage #L_x5F_Flow > path, #LEAFOUTTER.motor-usage #M_x5F_Flow_1_ > path {
  opacity: 1;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation: dash 15s 0s linear reverse infinite;
  -webkit-animation: dash 15s 0s linear reverse infinite;
  animation-fill-mode: backwards;
}

#LEAFOUTTER.motor-usage #R_x5F_Flow > path, #LEAFOUTTER.motor-usage #L_x5F_Flow > path, #LEAFOUTTER.motor-usage #M_x5F_Flow > path, #LEAFOUTTER.motor-usage #M_x5F_Flow_1_ > path {
  stroke: #ff993e !important;
}

#LEAFOUTTER.motor-usage #M_x5F_Flow lineargradient stop, #LEAFOUTTER.motor-usage #M_x5F_Flow_1_ lineargradient stop {
  stop-color: #ff993e !important;
}

#LEAFOUTTER.motor-usage:not(.regening) #Battery_x5F_Outline {
  stroke: #ff993e;
  opacity: 1;
  animation-fill-mode: reverse;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation: dash 15s 0s linear infinite;
  -webkit-animation: dash 15s 0s linear infinite;
  -webkit-animation-direction: forwards; /* Safari 4.0 - 8.0 */
  animation-direction: forwards;
}



#LEAFOUTTER.regening #M_x5F_Flow > path, #LEAFOUTTER.regening #R_x5F_Flow > path, #LEAFOUTTER.regening #L_x5F_Flow > path, #LEAFOUTTER.regening #M_x5F_Flow_1_ > path {
  opacity: 1;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation: dash 15s 0s linear forwards infinite;
  -webkit-animation: dash 15s 0s linear forwards infinite;
  animation-fill-mode: forwards;
}

#LEAFOUTTER.regening #R_x5F_Flow > path, #LEAFOUTTER.regening #L_x5F_Flow > path, #LEAFOUTTER.regening #M_x5F_Flow_1_ > path, #LEAFOUTTER.regening #M_x5F_Flow > path {
  stroke: #62C50F !important;
}

#LEAFOUTTER.regening #M_x5F_Flow lineargradient stop, #LEAFOUTTER.regening #M_x5F_Flow_1_ lineargradient stop {
  stop-color: #62C50F !important;
}

#LEAFOUTTER.regening #Battery_x5F_Outline {
  stroke: #62C50F;
  opacity: 1;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation: dash 15s 0s linear reverse infinite !important;
  -webkit-animation: dash 15s 0s linear reverse infinite !important

}

/*#LEAF path, #LEAF circle { //Too laggy
  transition: opacity 1s ease, stroke 1s ease;
}*/

#LEAFOUTTER #Belts {
  fill: #ff0303;
  opacity: 1;
  transition: fill 2s ease;
  animation:fade 2000ms infinite;
  -webkit-animation:fade 2000ms infinite;
}

#LEAFOUTTER.buckled #Belts {
  fill: #62C50F;
  opacity: 0.5;
  animation: none;
  -webkit-animation: none;
}

#LEAFOUTTER #P_x5F_Brake {
  opacity: 0.1;
}

#LEAFOUTTER.parked #P_x5F_Brake {
  opacity: 1;
}

#Tires > text {
    font-size: 13px;
    text-align: center;
    text-anchor: middle;
}

#Charging_x5F_Container > text {
  font-size: 12px;
  text-align: right;
}

#SOC {
  width: 100%;
}

.SOC-Text {
  position: absolute;
  text-align: center;
  font-size: 185%;
  font-weight: bold;
  z-index: 3;
}

.Motor-Text, .Climate-Text {
  position: absolute;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
}

.Motor-Text > small, .Climate-Text > small {
  opacity: 0.5;
  font-size: 1.2vw;
}


.extras-container {
  position: absolute;
}

#time-chart {
  padding-top: 15px;
}

@keyframes dash {
  from {
     stroke-dashoffset : 200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash {
  from {
     stroke-dashoffset : 200;
  }
  to {
    stroke-dashoffset: 0;
  }
}
