<header class="fixed">
  <md-toolbar class="{{platform}}" ng-class="{'fullscreen': showFullscreen}" >
    <div class="md-toolbar-tools">
      <ng-md-icon ng-if="platform != 'Android'" class="back-button" ng-click="back()" icon="keyboard_arrow_left" size="30px" style="fill: white; margin-left: -17px;"></ng-md-icon>
      <div class="Happy-Leaf" ng-click="cycleDistance()">
        <span ng-if="!showFullScreen" translate>
          HOME.TITLE
        </span>
        <br ng-if="!showFullscreen"/>
        <small ng-if="data.odometer > 0 && distanceToDisplay == 0" class="title-odo">{{data.odometer | number:1}} {{data.readableDistanceUnits()}}</small>
        <small ng-if="local.mileDriven > 0 && distanceToDisplay == 1" class="title-odo">{{local.mileDriven | number}} {{data.readableDistanceUnits()}} {{'HOME.HAPPY' | translate}}</small>
        <small ng-if="local.milesDrivenToday > 0 && distanceToDisplay == 2" class="title-odo">{{local.milesDrivenToday | number}} {{data.readableDistanceUnits()}} {{'HOME.TODAY' | translate}}</small>
      </div>

      <!-- fill up the space between left and right area -->
      <span flex></span>
      <span class="outside-temp" ng-if="data.outsideTemp">
        {{data.outsideTemp | number:1}}&deg;
      </span>
      <connection-status failed-messages="failedMessages"></connection-status>
      <notification-view ng-if="!showFullscreen"></notification-view>
      <settings-dialog ng-if="!showFullscreen"></settings-dialog>
    </div>
  </md-toolbar>
</header>

<main class="fixed" ng-class="{'dark': showDarkTheme}" id="home" >
  <div class="content">
    <div layout="row" class="main-top-row">
      <div layout="column">
        <md-menu class="left-button" flex md-theme-watch="true" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-position-mode="target-left target">
          <md-button aria-label="Open menu" class="md-icon-button left-button up dark-button" ng-click="$mdMenu.open($event)">
            <ng-md-icon class="more-icon rotate" options='{"rotation": "counterclock"}' icon="more_horiz" size="30px" ng-style="{fill: showDarkTheme ? 'white' : 'black' }"></ng-md-icon>
          </md-button>
          <md-menu-content width="2">
            <md-menu-item>
              <md-button md-theme-watch="true" ng-click="toggleDark()">
                  <div layout="row" flex>
                    <p flex translate>{{showDarkTheme ? "HOME.MENUS.TO_LIGHT" : "HOME.MENUS.TO_DARK"}}</p>&nbsp;&nbsp;
                    <ng-md-icon options='{"rotation": "counterclock"}' icon="{{showDarkTheme ? 'wb_sunny' :'brightness_3'}}" size="30px" ng-style="{fill: showDarkTheme ? 'white' : 'black' }" style="margin-top: 11px;margin-right: 5px;"></ng-md-icon>
                  </div>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-if="platform == 'Android'">
              <md-button md-theme-watch="true" ng-disabled="showFullscreenDisabled" ng-click="toggleFullscreen()">
                  <div layout="row" flex>
                    <p flex translate>{{showFullScreen ? "HOME.MENUS.OUT_FULLSCREEN" : "HOME.MENUS.TO_FULLSCREEN"}}</p>&nbsp;&nbsp;
                    <ng-md-icon options='{"rotation": "counterclock"}' icon="{{showFullScreen ? 'fullscreen_exit' : 'fullscreen'}}" size="30px" ng-style="{fill: showDarkTheme ? 'white' : 'black' }" style="margin-top: 11px;margin-right: 5px;"></ng-md-icon>
                  </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <leaf-display></leaf-display>
        <p class="last-update" ng-if="data.lastUpdateTime">{{'HOME.UPDATED' | translate}}<span am-time-ago="data.lastUpdateTime"></span></p>
      </div>
      <div layout="column" class="main-top-stats data-column fade-in fade-long">
        <div layout="row">
        <div flex>
          <md-card md-theme-watch="true" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}">
           <md-card-content>
             <small class="temp-offset clear" ng-if="data.tempOffset" ng-class="{'green': data.tempOffset > 100, 'red': data.tempOffset <= 90}" highlight-on-change="{{data.tempOffset}}">&deg;{{data.tempOffset | number:1}}%</small>
             <small class="title" translate>HOME.REMAINING</small>

             <h2 class="kwh-reamining">
               <big>{{data.kilowatts | number:2}}</big> <span>kWh</span>
             </h2>
             <small><span><b>{{(data.distancePerKW * data.kilowatts) | number:1}}</b> {{data.readableDistanceUnits()}} {{'HOME.TO' | translate}} 0</span></small>
           </md-card-content>
           <md-card-footer>
             <span>GIDs: <b>{{data.GIDs}}</b> {{'HOME.HEALTH' | translate}}: <b>{{data.SOH}}%</b></span>
           </md-card-footer>
          </md-card>
        </div>
        <div flex>
          <md-card md-theme-watch="true" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}">
            <md-menu md-position-mode="target-right target" >
              <md-button aria-label="Open menu" class="md-icon-button more-button" ng-click="$mdMenu.open($event)">
                <ng-md-icon class="more-icon rotate" options='{"rotation": "counterclock"}' icon="more_horiz" size="30px" ng-style="{fill: showDarkTheme ? 'white' : 'black' }"></ng-md-icon>
              </md-button>
              <md-menu-content width="3">
                <md-menu-item ng-repeat="item in menuOptions" >
                  <md-button md-theme-watch="true" ng-click="item.clicked()">
                      <div layout="row" flex>
                        <ng-md-icon class="menu-icon" icon="{{item.icon}}" size="30px" ng-style="{fill: showDarkTheme ? 'white' : 'black' }" style="margin-top: 11px;margin-right: 5px;"></ng-md-icon>
                        <p flex>{{item.title}}</p>
                      </div>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
           <md-card-content>
             <small class="title" ng-if="data.wattsUsed >= 0" translate>HOME.USED</small>
             <small class="title" ng-if="data.wattsUsed < 0" translate>HOME.GAINED</small>
             <h2 ng-if="data.wattsUsed < 10000 && data.wattsUsed > -10000"><big>{{data.wattsUsed | makePositive | number:1}}</big> Wh</h2>
             <h2 ng-if="data.wattsUsed >= 10000 || data.wattsUsed <= -10000"><big>{{(data.wattsUsed / 1000) | makePositive | number:2}}</big> kWh</h2>
             <small class="tiny clear" ng-class="{'green': data.wattDifference > 0, 'red': data.wattDifference < 0}" highlight-on-change="{{data.wattDifference}}"><span ng-if="data.wattDifference > 0">+ </span>{{data.wattDifference | number:1}}</small>
             <small class="sub-text"><span ng-if="data.distanceTraveled > 0"><b>{{data.distanceTraveled | number:1}}</b> {{data.readableDistanceUnits()}} </span>{{'HOME.SINCE' | translate}} <span am-time-ago="data.wattsStartedTime"></span></small>
           </md-card-content>
           <md-card-footer>
             <span ng-if="data.isCharging">
               <b>{{data.wattsPerMinute | number:2}}</b> {{'HOME.WATTS_MIN' | translate}}
             </span>
             <span ng-if="!data.isCharging">
               <span ng-if="wattDisplay == 'perWatt'"><b>{{data.distancePerKW | number:2}}</b> {{data.readableDistanceUnits()}}/kW</span>
               <span ng-if="wattDisplay == 'perDistance'"><b>{{data.wattsPerDistance | number:2}}</b> Watts/{{data.readableDistanceUnits()}}</span>
             </span>
           </md-card-footer>
          </md-card>
        </div>
      </div>
      <div flex layout="column" class="data-column">
        <md-card md-theme-watch="true" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}">
         <md-card-content>
           <large-time-chart show-dark-theme="showDarkTheme"></large-time-chart>
         </md-card-content>
        </md-card>
      </div>
    </div>

    </div>
    <div flex class="other-bottom-stats fade-in fade-super-long" ng-if="!local.settings.experiance.displayAllData">
      <md-grid-list
        md-cols-xs="2" md-cols-sm="3" md-cols-md="5" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="4:2"
        md-gutter="2px" md-gutter-gt-sm="2px" >

      <md-grid-tile flex-xs ng-repeat="key in dataKeys" ng-if="dataDisplay(data[key])">
        <md-card flex md-theme-watch="true" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}">
          <md-card-content class="info-box">
            <small>{{key}}</small>
            <h3 ng-class="{'small': key.toLowerCase().indexOf('time') > 0}">{{renderDisplay(key)}}</h3>
          </md-card-content>
        </md-card>
      </md-grid-tile>

      <md-grid-tile flex-xs>
        <md-card flex md-theme-watch="true" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}">
          <md-card-content class="info-box">
            <small>History Enteries</small>
            <h3>{{local.historyCount}}</h3>
          </md-card-content>
        </md-card>
      </md-grid-tile>
    </md-grid-list>
      <!--p>
        Headlights: {{data.headLights}} &nbsp; Turning: {{data.turnSignal}} <span ng-if="data.climateOn">&nbsp; Vents: {{data.ventMode}} / {{data.fanSpeed}}</span><br/>
        GIDs: {{data.GIDs}} / <b>{{data.kilowatts | number:2}} KWh</b> Watt per SOC Capacity: <b>{{data.capacityAH}}</b><br />
        Climate Consumption: <b>{{data.climateConsumption}} Watts</b><br/>
        Transmission: {{data.transmission}}, 12v Battery Volts: {{data.accBattVolts | number:2}}<br />
        Motor Volts: {{data.rawMotorVolts}}, Motor Amps: {{data.rawMotorAmps}}<br/>
        current motor watt usage: {{data.motorWatts | number:1}} Regen Watts: {{data.regenWatts}}<br/>
        Charger Volts: {{data.chargingVolts}}, Charger Amps: {{data.chargingAmps}}<br/>
        Charger watts: {{data.chargingWatts | number:1}}<br/>
        is charging: {{data.isCharging}}, is buckled: {{data.isBuckled}}<br/>
        Speed: <b>{{data.speed}}</b>
        History Enteries: {{local.historyCount}}
      </p-->
    </div>
  </div>

  <div ng-if="!local.settings.experiance.displayLogs" class="log-container fade-super-long">
    <ng-md-icon class="log-icon" icon="{{logIcon}}" size="40px" style="fill: black;" ng-click="toggleLog()" options='{"rotation": "none"}'></ng-md-icon>
    <p class="log">
      {{logOutput}}
      {{SETTINGS.DATA.LOG_LOCATION | translate:'{ location: "local.settings.data.logLocation" }'}}
    </p>
  </div>
</main>
