<header>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span translate>WELCOME.TITLE</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <connection-status></connection-status>
      <span ng-if="ready" class="device-ready"></span>

      <md-button class="scan-btn" ng-click="scanDevices()">
        <ng-md-icon class="refresh-icon rotate {{scanClass}}" options='{"rotation": "counterclock"}' icon="{{scanIcon}}" size="40px" style="fill: white;"></ng-md-icon>
      </md-button>
      <settings-dialog></settings-dialog>
    </div>
  </md-toolbar>
</header>

<main flex id="welcome">
  <md-content class="device-list">
  	<md-radio-group ng-model="selected">
  	  <md-radio-button ng-click="connectDevice(device.address)" ng-repeat="device in devices" ng-value="device.address" aria-label="{{ device.name}}">
  	     <span class="device-name">{{ device.name }}</span>
  	  </md-radio-button>
  	</md-radio-group>
    <md-list-item>
      <span translate>
          WELCOME.DEVICE_TIPS
      </span>
    </md-list-item>

  </md-content>
</main>

<footer>
  <md-toolbar class="bottom">
      <div class="md-toolbar-tools">
        <span class="status">{{status}}</span>

        <span flex></span>
        <md-button ng-disabled="local.historyCount === 0" class="continue-btn" ng-click="continue()">
          <ng-md-icon class="continue-icon {{continueClass}}" icon="{{continueIcon}}" size="40px" style="fill: white;"></ng-md-icon>
        </md-button>
      </div>
  </md-toolbar>
</footer>
