<div id="large-chart-container" height="40vh">
  <canvas class="array-chart chart chart-bar" chart-data="data"
    chart-labels="labels" chart-series="series" chart-options="options"
    chart-dataset-override="datasetOverride" chart-colors="local.settings.data.colors"
    ng-style="{'height': chart.height, 'width': chart.width}" height="0"  ng-style="{'width': chart.width, 'height': chart.height}">
  </canvas>
  <div class="cell-info">{{dataManager.cellVoltDelta}} mV &Delta;</div>
  <div class="temp-info">{{dataManager.cellTempDelta}} &deg; &Delta;</div>
</div>
